.container {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  height: 80vh;
  background-color: #121212;
  color: #e0e0e0;
}

.header {
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
  background-color: #1e1e1e;
}

.siteName {
  font-size: 1.5rem;
  font-weight: bold;
  color: #ffffff;
}

.mainContent {
  display: flex;
  flex: 1;
}

.sidebar {
  width: 20%;
  background-color: #1e1e1e;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.button {
  margin: 1rem 0;
  padding: 0.5rem 1rem;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.mainSections {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 1rem;
}

.recentFilesSection {
  flex: 1;
  padding: 1rem;
  background-color: #1e1e1e;
  border-radius: 5px;
  margin: 0;
  margin-bottom: 2rem;
  width: 100%; /* Ajuste a largura */
  height: auto; /* Ajuste a altura conforme necessário */
}

.carousel {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.fileCard {
  background-color: #1e1e1e;
  padding: 1rem;
  border: 1px solid #444;
  border-radius: 5px;
  width: 30%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;  
  height: 200px;
  margin: 0.5rem;
}

.fileCard p:first-child {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.fileCard p:last-child {
  font-size: 0.9rem;
  color: #aaa;
  margin-top: auto;
}

.createDocumentSection {
  flex: 1;
  padding: 1rem;
  background-color: #1e1e1e;
  border-radius: 5px;
  margin: 0;
  margin-bottom: 2rem;
  width: 100%; /* Ajuste a largura */
  height: auto; /* Ajuste a altura conforme necessário */
}

.createOptions {
  display: flex;
  gap: 1rem;
}

.createButton {
  padding: 1rem;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  text-align: center;
}

.description {
  text-align: center;
  font-size: 1.5rem;
}

.docxCard {
  background-color: #2c2c2c;
  color: #ffffff;
}

.xlsxCard {
  background-color: #1a1a1a;
  color: #ffffff;
}